<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div class='row' align='center'>
      <div class="column1">
          <label>Keywords</label><br>
          <input type="button" (click)="editKey()" *ngIf="!keyword.editable" value='Edit keyword'><br>
          <textarea rows='20' cols="60" name='keyword' [(ngModel)]='keyword.value' (keyup)='saveKeyword()' [disabled]=!keyword.editable></textarea>
          <br><span>{{keyword.length}}</span>
          <br>
          <br>
          <div *ngIf="keyword.editable">
              <label>Option</label><br>
              <input type='checkbox' name='option' [(ngModel)]='RD'>Remove duplicates
              <input type='checkbox' name='option' [(ngModel)]='MP'>Maintain phrases
              <br>
              <input type="checkbox" name="option" [(ngModel)]="RSW">Remove single word
              <input type="checkbox" name="option" [(ngModel)]="RSL">Remove single letter
              <br>
              <input type="checkbox" name="option" [(ngModel)]="OWPL">One word/pharse per line
              <br>
              <button (click)='restore()'>Restore</button>
              <button (click)='process()'>Process</button>
          </div>
          <div *ngIf="!keyword.editable">
              <label>Used Key Word</label><br>
              <textarea rows="20" cols='60' name='used' [(ngModel)]='used.value' disabled></textarea>
          </div>
      </div>
      <div class="column2">
          <div>
              <label>Title</label>
          <br>
          <select [(ngModel)]=title.format (change)="format(title.format,title)" name="title">
              <option value="initial">Select a format</option>
              <option>ALL CAPS</option>
              <option>all lowercase</option>
              <option>First Letter Caps</option>
              <option>Sentence caps</option>
          </select>
          <br>
              <textarea rows="10" maxlength={{title.max}} cols='80' name='title' [(ngModel)]='title.value' (keyup)='detectInput()'></textarea>
              <br>
              <span>{{title.length}}</span>
              <i class="material-icons" (click)='changeLimit(title)' style="font-size:16px;color:blue">mode_edit</i>
              <br>
              <br>
          </div>
          <div>
              <label>Description</label>
          <br>
          <select [(ngModel)]=description.format (change)="format(description.format,description)" name="description">
              <option value="initial">Select a format</option>
              <option>ALL CAPS</option>
              <option>all lowercase</option>
              <option>First Letter Caps</option>
              <option>Sentence caps</option>
          </select>
          <br>
              <textarea rows="25" maxlength={{description.max}} cols='80' name='description' [(ngModel)]='description.value' (keyup)='detectInput()'></textarea>
              <br>
              <span>{{description.length}}</span>
              <i class="material-icons" (click)='changeLimit(description)' style="font-size:16px;color:blue">mode_edit</i>
          </div>
          <div>
              <div *ngIf="extra1.display" >
                  <br>
                  <label>Extra Description</label>
                  <select [(ngModel)]=extra1.format (change)="format(extra1.format,extra1)" name="extra1">
                      <option value="initial">Select a format</option>
                      <option>ALL CAPS</option>
                      <option>all lowercase</option>
                      <option>First Letter Caps</option>
                      <option>Sentence caps</option>
                  </select>
                  <br>
                  <textarea rows="10" maxlength={{extra1.max}} cols='80' name='extra1' [(ngModel)]='extra1.value' (keyup)='detectInput()'></textarea>
                  <br>
                  <span>{{extra1.length}}</span>
                  <i class="material-icons" (click)='changeLimit(extra1)' style="font-size:16px;color:blue">mode_edit</i>
              </div>
              <div *ngIf="extra2.display">
                  <br>
                  <label>Extra Description</label>
                  <select [(ngModel)]=extra2.format (change)="format(extra2.format,extra2)" name="extra2">
                      <option value="initial">Select a format</option>
                      <option>ALL CAPS</option>
                      <option>all lowercase</option>
                      <option>First Letter Caps</option>
                      <option>Sentence caps</option>
                  </select>
                  <br>
                  <textarea rows="10" maxlength={{extra2.max}} cols='80' name='extra2' [(ngModel)]='extra2.value' (keyup)='detectInput()'></textarea>
                  <br>
                  <span>{{extra2.length}}</span>
                  <i class="material-icons" (click)='changeLimit(extra2)' style="font-size:16px;color:blue">mode_edit</i>
              </div>
              <div *ngIf="extra3.display">
                  <br>
                  <label>Extra Description</label>
                  <select [(ngModel)]=extra3.format (change)="format(extra3.format,extra3)" name="extra3">
                      <option value="initial">Select a format</option>
                      <option>ALL CAPS</option>
                      <option>all lowercase</option>
                      <option>First Letter Caps</option>
                      <option>Sentence caps</option>
                  </select>
                  <br>
                  <textarea rows="10" maxlength={{extra3.max}} cols='80' name='extra3' [(ngModel)]='extra3.value' (keyup)='detectInput()'></textarea>
                  <br>
                  <span>{{extra3.length}}</span>
                  <i class="material-icons" (click)='changeLimit(extra3)' style="font-size:16px;color:blue">mode_edit</i>
              </div>
              <button type="button" class="btn btn-default btn-sm" (click)="showBox()" *ngIf="count < 3">
                  <span class="glyphicon glyphicon-plus-sign"></span> Add Extra Describtion
              </button>                    
          </div>
      </div>
    </div>
  </body>
  